body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: burlywood;
}

.container {
    max-width: 800px;
    margin: 70spx auto;
    background-color: burlywood;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
}

form {
    margin-top: 20px;
}

label,
input,
button {
    display: block;
    margin-bottom: 10px;
}

input[type="text"],
input[type="date"],
input[type="email"],
input[type ="number"],
input[type="name"],
input[type="password"],
button {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

#message {
    margin-top: 20px;
    text-align: center;
    font-weight: bold;
}
a:visited{
    color: blue;
}
a:hover{
    background-color: green;
    color: white;
}
/*selected link*/
a:link{
    color: purple;
}
